body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.table {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-collapse: collapse;
}

.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  background-color: #F7FAFC;
  color: #858585;
}

.table td {
  padding: 0px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table tbody tr:nth-child(even) {
  background-color: #F7FAFC;
}
.problems-table{
  margin-top: 40px;
}
.problem-title:hover{
  color: rgb(255, 118, 55);
  cursor: pointer;
}

.company{
  display: flex;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 15px;
}
.company img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 2px solid rgb(228, 228, 228);
  padding: 5px;
  border-radius: 50%;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
